.nodeBox {
  background: url("@/assets/img/nodeBg.png") no-repeat;
  background-size: 100% 274px;
  background-color: #03022c;
  min-height: 100vh;
  padding: 1px 15px;
  .nodeContent {
    margin: 62px auto;
    width: fit-content;
    text-align: center;
    div:nth-child(1) {
      font-family: AlibabaPuHuiTi;
      font-size: 32px;
      letter-spacing: 0px;
      color: #ffffff;
    }
    div:nth-child(2) {
      font-family: AlibabaPuHuiTi;
      font-size: 14px;
      letter-spacing: 0px;
      color: #ffffff;
      margin-top: 14.5px;
    }
    div:nth-child(3) {
      font-family: AlibabaPuHuiTi;
      font-size: 12px;
      letter-spacing: 0px;
      color: #67baff;
      margin-top: 4.5px;
    }
  }

  .nodeItem {
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 12px;
    background: linear-gradient(
      180deg,
      rgba(2, 61, 202, 0.6491) 0%,
      rgba(1, 15, 56, 0.4536) 100%
    );
    box-sizing: border-box;
    border: 1px solid;
    border-image: linear-gradient(
      180deg,
      #6b93fa 0%,
      rgba(107, 147, 250, 0.4508) 100%
    );
    position: relative;
    z-index: 2;
    .title {
      display: flex;
      div:nth-child(2) {
        font-family: AlibabaPuHuiTi;
        font-size: 16px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0px;
        color: #ffffff;
        margin-left: 4px;
      }
      // div:nth-child(3){
      //   font-family: AlibabaPuHuiTi;
      //   font-size: 11px;
      //   font-weight: normal;
      //   line-height: normal;
      //   text-align: right;
      //   letter-spacing: 0px;
      //   color: rgba(255, 255, 255, 0.4495);
      //   margin-left: auto;
      // }
      div:nth-child(3) {
        text-align: right;
        // margin-left: 14px;
        margin-left: auto;
        display: flex;
        align-items: center;
        font-family: AlibabaPuHuiTi;
        font-size: 11px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0px;
        color: #ffffff;
        height: 20px;
        span:nth-child(1) {
          background: linear-gradient(180deg, #feebb6 0%, #fcd280 100%);
          color: #000000;
          display: block;
          line-height: 20px;
          // width: 34px;
          padding: 0 4px;
          text-align: center;
        }
        span:nth-child(2) {
          line-height: 20px;
                   padding: 0 4px;
          text-align: center;
        }
        box-sizing: border-box;
        border: 0.5px solid;
        border-image: linear-gradient(180deg, #feebb7 0%, #f6ce7c 100%) 0.5;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
    .equityBox {
      background: url("@/assets/img/equityBg2.png") no-repeat;
      background-size: 100% 100%;
      padding: 8px 0 15px 12px;
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin-top: 15px;
      .title {
        font-family: AlibabaPuHuiTi;
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0px;
        color: #ffffff;
        margin-bottom: 4px;
      }
      div {
        font-family: AlibabaPuHuiTi;
        font-size: 12px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0px;
        color: #67baff;
      }
      img {
        width: 12px;
        height: 12px;
        margin-right: 2px;
      }
    }
    .Bottom {
      display: flex;
      align-items: center;
      margin-top: 12px;
      div {
        font-family: AlibabaPuHuiTi;
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: 0px;
        color: #67baff;
      }
      button {
        margin-left: auto;
        line-height: 100%;
      }
    }
  }
}
