.deposit-page {
    padding: 20px 16px;

    .assets-title {
        font-size: 14px;
        color: #ffffff65;
        margin-bottom: 10px;
    }

    .type-tab {
        display: flex;
        gap: 12px;

        .type-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            height: 50px;
            border: 1px solid #ffffff40;
            border-radius: 8px;
            margin-bottom: 20px;

            font-size: 16px;
            color: #ffffff85;

            &.active {
                border: 1px solid #67BAFF;
                color: #67BAFF;
            }
        }
    }

    .balance-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        color: #ffffff65;
    }

    .deposit-num {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 12px;
        margin-bottom: 12px;
        border-radius: 8px;
        border: 1px solid #ffffff40;

        .deposit-input {
            flex: 1;
            height: 100%;

            input {
                width: 100%;
                height: 100%;
                color: #fff;
            }
        }

        .unit {
            font-size: 16px;
            color: #fff;
            margin-left: 10px;
        }
    }

    .amount-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        margin-bottom: 20px;

        .amount-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            border-radius: 8px;
            border: 1px solid #ffffff40;
            font-size: 16px;
            color: #fff;

            &.active {
                border: 1px solid #67BAFF;
                color: #67BAFF;
            }
        }
    }

    .gas-box,
    .get-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-size: 12px;

        .key {
            color: #ffffff65;
        }

        .val {
            color: #fff;
        }
    }

    .get-box {
        margin-bottom: 23px;

        .val {
            color: #67BAFF;
        }
    }

    .deposit-btn {
        width: 100%;
        height: 50px;
    }


}