.head-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;
    padding: 0 16px;

    &.sticky {
        position: sticky;
        background: #03022c;
    }

    .menu-box {
        display: flex;
        align-items: center;
        width: 100px;
        .menu-img {
            width: 24px;
            height: 24px;
        }

        .logo-img {
            height: 36px;
            object-fit: contain;
            margin-left: 16px;
        }
    }

    .title-text {
        font-size: 18px;
        color: #fff;
    }

    .wallet-box {
        display: flex;
        align-items: center;
        height: 32px;
        padding: 0 16px;
        background: linear-gradient(270deg, #AB46FF 0%, #00B7FF 48%, #00FFED 100%);
        border-radius: 16px;
        font-size: 12px;
        color: #000;

        .wallet-img {
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }
    }

    .record-text {
        width: 100px;
        font-size: 14px;
        color: #67BAFF;
        text-align: right;
    }
}